<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://meudominio.com/PremiereApp" version="1.0.0" viewmodes="fullscreen">
    
    <tizen:application id="SEUID.PremiereAoVivo" package="SEUID" required_version="2.3"/>
    
    <name>Premiere Ao Vivo</name>
    <description>Aplicativo para assistir ao canal Premiere ao vivo.</description>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <license>GPL-3.0-only</license>
    <author>[EDUARDO]</author>

    <access origin="https://piratetv.pro" subdomains="true"/>
    <access origin="https://z3r0.site" subdomains="true"/>
    <access origin="https://embedtv-2.icu" subdomains="true"/>
    
</widget>
